.row{
  text-align: center;
}

.box {
  display: inline-block;
  margin: 1rem;
  width:200px;
  height:150px;
  background: darkslategray;
  transition:all 1s ease;
  font-family: 'Righteous';
  color: white;
  text-align: center;
  line-height: 3;
}

.fade-in {
  opacity:0.6;
}

.fade-in:hover {
  opacity:1;
}

.chameleon:hover {
  background: pink;
}

.grow:hover {
  -ms-transform: scale(1.3,1.3); /* ie 9 */
  -webkit-transform: scale(1.3,1.3); /* safari */
  transform: scale(1.3,1.3)
}

.shrink:hover {
  -ms-transform: scale(0.7, 0.7);
  -webkit-transform: scale(0.7,0.7);
  transform: scale(0.7, 0.7)
}

.shape:hover {
  border-radius: 50%
}

@keyframes swing {
  20% { transform: translateX(2px) }
  40% { transform: translateX(-4px) }
  60% { transform: translateX(4px) }
  80% { transform: translateX(-3px) }
  100% { transform: translateX(1px) }
}

.swing:hover {
  animation: swing 1s ease;
}

@keyframes rainbow {
  15% { background: red }
  30% { background: orange } 
  45% { background: yellow }
  60% { background: green }
  75% { background: blue }
  90% { background: purple}
}
.rainbow:hover {
  animation: rainbow 7s linear
}